.form-label, .form-text{
    display: flex-start;
    margin-left: 10px;
}

.form-text{
    color: rgb(126, 126, 126);
    font-size: small;
}

/* CSS */
.button-59 {
  align-items: center;
  background-color: #fff;
  border: 2px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-59:focus {
    color: #171e29;
  }
  
  .button-59:hover {
    border-color: rgb(224, 224, 224);
    color: rgb(224, 224, 224);
    fill: rgb(224, 224, 224);
  }
  
  .button-59:active {
    border-color: rgb(224, 224, 224);
    color: rgb(224, 224, 224);
    fill: rgb(224, 224, 224);
  }

@media (min-width: 768px) {
  .button-59 {
    min-width: 170px;
  }
}

.addingSpace{
    margin: 45px;
}

.formLabel{
    text-align: left;
}